.table {
    width: 30%;
    font-family: Arial, sans-serif;
}

.table th, .table td {
    border: 1px solid #9c48ab;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #442c50;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f9e3ff;
}

.table tr:hover {
    background-color: #ead6f8;
    transition: .3s;
}