:root{
    --cor-roxa: #6E43F0;
    --cor-hover-roxa:  #522dc1;
}
.text-roxo{
    color: var(--cor-roxa) !important;
}
body{
    background: url("/crud-fabrica-carros-php/Fabrica_Carros/Views/assets/img/background-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-primeiro {
  color: #fff !important;
  background-color: var(--cor-roxa) !important;
  border: 1px solid var(--cor-roxa) !important;
  transition: all 0.15s ease-in-out !important;
}

.btn-primeiro:hover {
  background-color: var(--cor-hover-roxa) !important;
  border-color: var(--cor-hover-roxa) !important;
}

.btn-primeiro:focus {
  box-shadow: 0 0 0 0.25rem rgba(113, 13, 253, 0.5) !important;
}

.btn-outline-primeiro {
  color: var(--cor-roxa) !important;
  background-color: transparent !important;
  border: 1px solid var(--cor-roxa) !important;
  transition: all 0.15s ease-in-out !important;
}

.btn-outline-primeiro:hover {
  color: #fff !important;
  background-color: var(--cor-roxa) !important;
  border-color: var(--cor-roxa) !important;
}

.btn-outline-primeiro:focus {
  box-shadow: 0 0 0 0.25rem rgba(113, 13, 253, 0.5) !important;
}